.splitcharstyle1581 {
	color: rgb(34, 34, 34); font-family: 宋体; font-size: 9pt;
}
.font1581 {
	color: rgb(34, 34, 34); font-family: 宋体; font-size: 9pt; text-decoration: none;
}
.titlestyle39707 {
	color: rgb(34, 34, 34); font-size: 9pt; text-decoration: none;
}
.erjifontover1507 {
	color: rgb(255, 255, 255); line-height: 180%; font-size: 9pt;
}
.leaderfont1507 {
	color: rgb(255, 255, 255); font-size: 9pt;
}
.yijibackground1507 {
	height: 35px; position: relative;
}
.erjibackground1507 {
	border-right-color: rgb(37, 165, 6); border-bottom-color: rgb(37, 165, 6); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; background-color: rgb(229, 253, 223);
}
.currentfontStyle1507 {
	color: rgb(204, 0, 0); font-size: 10pt; font-weight: bold; text-decoration: none;
}
.fontstyle1507 {
	color: rgb(255, 255, 255); font-size: 10pt; font-weight: bold;
}
.yijifontover1507 {
	color: rgb(0, 51, 0); font-size: 10pt; font-weight: bold;
}
.erjibackgroundover1507 {
	border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; background-color: rgb(52, 170, 52);
}
.ejfontstyle1507 {
	height: 18px; color: rgb(34, 34, 34); line-height: 180%; font-size: 9pt; position: relative;
}
.font1508 {
	font-size: 9pt;
}
.fontstyle1508 {
	color: rgb(34, 34, 34); font-family: 宋体; font-size: 9pt;
}
.summarystyle1510 {
	color: rgb(34, 34, 34); line-height: 150%; text-indent: 24px; font-size: 9pt;
}
.titlestyle1510 {
	width: 240px; height: 20px; color: rgb(34, 34, 34); line-height: 220%; font-size: 9pt; font-weight: bold; text-decoration: none; position: relative; background-color: rgb(230, 230, 230);
}
.titlestyle39708 {
	color: rgb(34, 34, 34); font-size: 9pt; text-decoration: none;
}
.morestyle18339 {
	font-size: 9pt;
}
.clickstyle18339 {
	color: rgb(34, 34, 34); line-height: 150%; font-size: 9pt;
}
.leaderfont18339 {
	line-height: 150%; font-size: 9pt;
}
.titlestyle18339 {
	line-height: 150%; font-size: 9pt; text-decoration: none;
}
.columnstyle18339 {
	color: rgb(34, 34, 34); font-size: 9pt; text-decoration: none;
}
.timestyle18339 {
	color: rgb(34, 34, 34); line-height: 150%; font-size: 9pt;
}
a.c18339 {
	line-height: 150%; font-size: 9pt; text-decoration: none;
}
a.c18339:link {
	color: rgb(34, 34, 34);
}
a.c18339:visited {
	color: rgb(34, 34, 34);
}
a.c18339:active {
	color: rgb(34, 34, 34);
}
a.c18339:hover {
	color: rgb(204, 0, 0);
}
.morestyle1518 {
	font-size: 9pt;
}
.clickstyle1518 {
	color: rgb(34, 34, 34); line-height: 150%; font-size: 9pt;
}
.leaderfont1518 {
	line-height: 150%; font-size: 9pt;
}
.titlestyle1518 {
	line-height: 210%; font-size: 9pt; text-decoration: none;
}
.columnstyle1518 {
	color: rgb(34, 34, 34); font-size: 9pt; text-decoration: none;
}
.timestyle1518 {
	color: rgb(34, 34, 34); line-height: 150%; font-size: 9pt;
}
a.c1518 {
	line-height: 210%; font-size: 9pt; text-decoration: none;
}
a.c1518:link {
	color: rgb(34, 34, 34);
}
a.c1518:visited {
	color: rgb(34, 34, 34);
}
a.c1518:active {
	color: rgb(34, 34, 34);
}
a.c1518:hover {
	color: rgb(204, 0, 0);
}
.morestyle1519 {
	font-size: 9pt;
}
.clickstyle1519 {
	color: rgb(34, 34, 34); line-height: 150%; font-size: 9pt;
}
.leaderfont1519 {
	line-height: 150%; font-size: 9pt;
}
.titlestyle1519 {
	line-height: 210%; font-size: 9pt; text-decoration: none;
}
.columnstyle1519 {
	color: rgb(34, 34, 34); font-size: 9pt; text-decoration: none;
}
.timestyle1519 {
	color: rgb(34, 34, 34); line-height: 150%; font-size: 9pt;
}
a.c1519 {
	line-height: 210%; font-size: 9pt; text-decoration: none;
}
a.c1519:link {
	color: rgb(34, 34, 34);
}
a.c1519:visited {
	color: rgb(34, 34, 34);
}
a.c1519:active {
	color: rgb(34, 34, 34);
}
a.c1519:hover {
	color: rgb(204, 0, 0);
}
.querystyle39709 {
	border: 1px solid rgb(52, 193, 1); height: 20px; color: rgb(34, 34, 34); line-height: 20px; font-family: 宋体; font-size: 10pt; margin-left: 20px; vertical-align: middle; position: relative; background-repeat: no-repeat;
}
.morestyle1521 {
	font-size: 9pt;
}
.clickstyle1521 {
	color: rgb(34, 34, 34); line-height: 150%; font-size: 9pt;
}
.leaderfont1521 {
	line-height: 150%; font-size: 9pt;
}
.titlestyle1521 {
	line-height: 150%; font-size: 9pt; text-decoration: none;
}
.columnstyle1521 {
	color: rgb(34, 34, 34); font-size: 9pt; text-decoration: none;
}
.timestyle1521 {
	color: rgb(34, 34, 34); line-height: 150%; font-size: 9pt;
}
a.c1521 {
	line-height: 150%; font-size: 9pt; text-decoration: none;
}
a.c1521:link {
	color: rgb(34, 34, 34);
}
a.c1521:visited {
	color: rgb(34, 34, 34);
}
a.c1521:active {
	color: rgb(34, 34, 34);
}
a.c1521:hover {
	color: rgb(204, 0, 0);
}
